<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>admin page</title>
</head>
<body>
  <div>
    <p style="display: inline;">ブラボー数: </p>
    <p id="bravo-count" style="display: inline;">0</p>
  </div>
  <div>
    <p style="display: inline;">Notブラボー数: </p>
    <p id="not-bravo-count" style="display: inline;">0</p>
  </div>

  <button id="reset-btn" onclick="Reset()">ブラボーカウントをリセット</button>

  <br>
  <br>

  <input id="mentor-name" type="text" name="mentor-name" placeholder="メンター名">
  <button id="save-btn" onclick="SaveSpreadSheet()">スプレッドシートに保存</button>
  <br>
  <p id="save-success" style="display: none; color: green;">セーブしました</p>

  <br>

  <p id="count-availability">この表示がずっとされる場合は再読み込みしてください</p>
  <button id="enable-btn" onclick="Enable()">投票を有効化</button>
  <button id="enable-btn" onclick="Disable()">投票を無効化</button>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QQ0BMZH5WT"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QQ0BMZH5WT');
  </script>
  <script type="text/javascript" src="/js/button_analytics.js"></script>

  <script type="text/javascript" src="/js/request.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
</body>
</html>