<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>投票画面</h1>

  <p><%= $bravo %></p>

  <button onClick="Bravo()">Bravo</button>
  <button onClick="NotBravo()">NotBravo</button>

  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>